CREATE TABLE `AdventureWorks_Territories` (
	`SalesTerritoryKey` DECIMAL(38, 0) NOT NULL, 
	`Region` VARCHAR(14) NOT NULL, 
	`Country` VARCHAR(14) NOT NULL, 
	`Continent` VARCHAR(13) NOT NULL
);
