CREATE TABLE `AdventureWorks_Product_Subcategories` (
	`ProductSubcategoryKey` DECIMAL(38, 0) NOT NULL, 
	`SubcategoryName` VARCHAR(17) NOT NULL, 
	`ProductCategoryKey` DECIMAL(38, 0) NOT NULL
);
