CREATE TABLE `AdventureWorks_Returns` (
	`ReturnDate` DATE NOT NULL, 
	`TerritoryKey` DECIMAL(38, 0) NOT NULL, 
	`ProductKey` DECIMAL(38, 0) NOT NULL, 
	`ReturnQuantity` DECIMAL(38, 0) NOT NULL
);
